.download_path {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.path_button {
  color: #fff !important;
  padding: .375rem .5rem !important;
}

.open_folder_button {
  color: #eee !important;
  font-size: .75rem !important;
}