.navlink {
  font-family: SourceHanSansCN-Normal;
  font-size: .34em;
  font-weight: 700;
  color: #fff;
  opacity: .95;
  transition: color .3s, opacity .3s, filter .3s;

  &:hover {
    opacity: 1;
    filter: drop-shadow(0 0 1px #ffffff80);
  }
}

.active_navlink {
  color: #c6c9ce;
}