.silver_button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .1rem;
  height: .6rem;
  padding: 0 .5rem;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}