.silver_button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3125rem;
  height: 1.8750rem;
  padding: 0 1.2500rem;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}