.bottom_player {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.9rem;
  backdrop-filter: blur(2rem);
  user-select: none;
  overflow: hidden;
}