.top_info {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1.2500rem;
  user-select: none;
}

.left_img_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.0000rem;
  height: 10.0000rem;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .37);
  transform-origin: center;
  opacity: .9;
  transition: transform .3s, opacity .3s;
  object-fit: cover;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -58%;
    left: -18%;
    width: 150%;
    height: 150%;
    background-image: linear-gradient(hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .25) 48%, hsla(0, 0%, 100%, 0) 52%);
    transform: rotate(24deg);
    opacity: .5;
    transition: transform .5s ease, opacity .5s ease;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 7px 15px 4px rgba(0, 0, 0, .3);
    opacity: 1;
    transform: scale(1.06);

    &::after {
      transform: rotate(24deg) translateY(16%);
      opacity: 1;
    }
  }
}

.left_img {
  width: 100%;
  height: 100%;
}

.right_info {
  font-family: "Microsoft YaHei";
  display: flex;
  width: calc(100% - 10.6250rem);
  height: 100%;
  padding-left: 1.8750rem;
  flex-flow: column nowrap;

  .title {
    font-size: 1.3125rem;
    font-weight: 700;
    opacity: .9;
    margin-bottom: 0.3125rem;
  }

  .author {
    font-family: "SourceHanSansCN-Normal";
    font-size: 0.8750rem;
    opacity: .8;
    margin-bottom: 1.5625rem;
  }

  .intro {
    font-size: 0.6250rem;
    overflow: scroll;

    .block {
      margin-top: 0.3125rem;
    }
  }
}