.titlebar {
  height: 4.3750rem;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.8750rem 1.2500rem;
  padding-left: 2.1875rem;
}