.middle_control {
  display: flex;
  align-items: center;
  height: 4.3750rem;

  .button {
    width: 5.6250rem;
  }
}

.icon {
  width: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.text {
  color: #c6c9ce;
  font-size: 0.6250rem;
  font-weight: 700;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 6.2500rem);
  height: 100%;
  padding: 0 1.2500rem;
}

.search {
  height: 2.0000rem;
  font-size: 0.6250rem;
}