@font-face {
  font-family: NovecentoSansWide-Normal;
  src: url(/fonts/NovecentoSansWide-Normal.woff);
}


@font-face {
  font-family: NovecentoSansWide-UltraLight;
  src: url(/fonts/NovecentoSansWide-UltraLight.woff);
}

@font-face {
  font-family: SourceHanSansCN-Normal;
  src: url(/fonts/SourceHanSansCN-Normal.ttf);
}

@font-face {
  font-family: SourceHanSansCN-Bold;
  src: url(/fonts/SourceHanSansCN-Bold.otf);
}

@font-face {
  font-family: SourceHanSansCN-Heavy;
  src: url(/fonts/SourceHanSansCN-Heavy.otf);
}