.w0 {
  width: 0% !important;
}

.h0 {
  height: 0% !important;
}

.w1 {
  width: 1% !important;
}

.h1 {
  height: 1% !important;
}

.w2 {
  width: 2% !important;
}

.h2 {
  height: 2% !important;
}

.w3 {
  width: 3% !important;
}

.h3 {
  height: 3% !important;
}

.w4 {
  width: 4% !important;
}

.h4 {
  height: 4% !important;
}

.w5 {
  width: 5% !important;
}

.h5 {
  height: 5% !important;
}

.w6 {
  width: 6% !important;
}

.h6 {
  height: 6% !important;
}

.w7 {
  width: 7% !important;
}

.h7 {
  height: 7% !important;
}

.w8 {
  width: 8% !important;
}

.h8 {
  height: 8% !important;
}

.w9 {
  width: 9% !important;
}

.h9 {
  height: 9% !important;
}

.w10 {
  width: 10% !important;
}

.h10 {
  height: 10% !important;
}

.w11 {
  width: 11% !important;
}

.h11 {
  height: 11% !important;
}

.w12 {
  width: 12% !important;
}

.h12 {
  height: 12% !important;
}

.w13 {
  width: 13% !important;
}

.h13 {
  height: 13% !important;
}

.w14 {
  width: 14% !important;
}

.h14 {
  height: 14% !important;
}

.w15 {
  width: 15% !important;
}

.h15 {
  height: 15% !important;
}

.w16 {
  width: 16% !important;
}

.h16 {
  height: 16% !important;
}

.w17 {
  width: 17% !important;
}

.h17 {
  height: 17% !important;
}

.w18 {
  width: 18% !important;
}

.h18 {
  height: 18% !important;
}

.w19 {
  width: 19% !important;
}

.h19 {
  height: 19% !important;
}

.w20 {
  width: 20% !important;
}

.h20 {
  height: 20% !important;
}

.w21 {
  width: 21% !important;
}

.h21 {
  height: 21% !important;
}

.w22 {
  width: 22% !important;
}

.h22 {
  height: 22% !important;
}

.w23 {
  width: 23% !important;
}

.h23 {
  height: 23% !important;
}

.w24 {
  width: 24% !important;
}

.h24 {
  height: 24% !important;
}

.w25 {
  width: 25% !important;
}

.h25 {
  height: 25% !important;
}

.w26 {
  width: 26% !important;
}

.h26 {
  height: 26% !important;
}

.w27 {
  width: 27% !important;
}

.h27 {
  height: 27% !important;
}

.w28 {
  width: 28% !important;
}

.h28 {
  height: 28% !important;
}

.w29 {
  width: 29% !important;
}

.h29 {
  height: 29% !important;
}

.w30 {
  width: 30% !important;
}

.h30 {
  height: 30% !important;
}

.w31 {
  width: 31% !important;
}

.h31 {
  height: 31% !important;
}

.w32 {
  width: 32% !important;
}

.h32 {
  height: 32% !important;
}

.w33 {
  width: 33% !important;
}

.h33 {
  height: 33% !important;
}

.w34 {
  width: 34% !important;
}

.h34 {
  height: 34% !important;
}

.w35 {
  width: 35% !important;
}

.h35 {
  height: 35% !important;
}

.w36 {
  width: 36% !important;
}

.h36 {
  height: 36% !important;
}

.w37 {
  width: 37% !important;
}

.h37 {
  height: 37% !important;
}

.w38 {
  width: 38% !important;
}

.h38 {
  height: 38% !important;
}

.w39 {
  width: 39% !important;
}

.h39 {
  height: 39% !important;
}

.w40 {
  width: 40% !important;
}

.h40 {
  height: 40% !important;
}

.w41 {
  width: 41% !important;
}

.h41 {
  height: 41% !important;
}

.w42 {
  width: 42% !important;
}

.h42 {
  height: 42% !important;
}

.w43 {
  width: 43% !important;
}

.h43 {
  height: 43% !important;
}

.w44 {
  width: 44% !important;
}

.h44 {
  height: 44% !important;
}

.w45 {
  width: 45% !important;
}

.h45 {
  height: 45% !important;
}

.w46 {
  width: 46% !important;
}

.h46 {
  height: 46% !important;
}

.w47 {
  width: 47% !important;
}

.h47 {
  height: 47% !important;
}

.w48 {
  width: 48% !important;
}

.h48 {
  height: 48% !important;
}

.w49 {
  width: 49% !important;
}

.h49 {
  height: 49% !important;
}

.w50 {
  width: 50% !important;
}

.h50 {
  height: 50% !important;
}

.w51 {
  width: 51% !important;
}

.h51 {
  height: 51% !important;
}

.w52 {
  width: 52% !important;
}

.h52 {
  height: 52% !important;
}

.w53 {
  width: 53% !important;
}

.h53 {
  height: 53% !important;
}

.w54 {
  width: 54% !important;
}

.h54 {
  height: 54% !important;
}

.w55 {
  width: 55% !important;
}

.h55 {
  height: 55% !important;
}

.w56 {
  width: 56% !important;
}

.h56 {
  height: 56% !important;
}

.w57 {
  width: 57% !important;
}

.h57 {
  height: 57% !important;
}

.w58 {
  width: 58% !important;
}

.h58 {
  height: 58% !important;
}

.w59 {
  width: 59% !important;
}

.h59 {
  height: 59% !important;
}

.w60 {
  width: 60% !important;
}

.h60 {
  height: 60% !important;
}

.w61 {
  width: 61% !important;
}

.h61 {
  height: 61% !important;
}

.w62 {
  width: 62% !important;
}

.h62 {
  height: 62% !important;
}

.w63 {
  width: 63% !important;
}

.h63 {
  height: 63% !important;
}

.w64 {
  width: 64% !important;
}

.h64 {
  height: 64% !important;
}

.w65 {
  width: 65% !important;
}

.h65 {
  height: 65% !important;
}

.w66 {
  width: 66% !important;
}

.h66 {
  height: 66% !important;
}

.w67 {
  width: 67% !important;
}

.h67 {
  height: 67% !important;
}

.w68 {
  width: 68% !important;
}

.h68 {
  height: 68% !important;
}

.w69 {
  width: 69% !important;
}

.h69 {
  height: 69% !important;
}

.w70 {
  width: 70% !important;
}

.h70 {
  height: 70% !important;
}

.w71 {
  width: 71% !important;
}

.h71 {
  height: 71% !important;
}

.w72 {
  width: 72% !important;
}

.h72 {
  height: 72% !important;
}

.w73 {
  width: 73% !important;
}

.h73 {
  height: 73% !important;
}

.w74 {
  width: 74% !important;
}

.h74 {
  height: 74% !important;
}

.w75 {
  width: 75% !important;
}

.h75 {
  height: 75% !important;
}

.w76 {
  width: 76% !important;
}

.h76 {
  height: 76% !important;
}

.w77 {
  width: 77% !important;
}

.h77 {
  height: 77% !important;
}

.w78 {
  width: 78% !important;
}

.h78 {
  height: 78% !important;
}

.w79 {
  width: 79% !important;
}

.h79 {
  height: 79% !important;
}

.w80 {
  width: 80% !important;
}

.h80 {
  height: 80% !important;
}

.w81 {
  width: 81% !important;
}

.h81 {
  height: 81% !important;
}

.w82 {
  width: 82% !important;
}

.h82 {
  height: 82% !important;
}

.w83 {
  width: 83% !important;
}

.h83 {
  height: 83% !important;
}

.w84 {
  width: 84% !important;
}

.h84 {
  height: 84% !important;
}

.w85 {
  width: 85% !important;
}

.h85 {
  height: 85% !important;
}

.w86 {
  width: 86% !important;
}

.h86 {
  height: 86% !important;
}

.w87 {
  width: 87% !important;
}

.h87 {
  height: 87% !important;
}

.w88 {
  width: 88% !important;
}

.h88 {
  height: 88% !important;
}

.w89 {
  width: 89% !important;
}

.h89 {
  height: 89% !important;
}

.w90 {
  width: 90% !important;
}

.h90 {
  height: 90% !important;
}

.w91 {
  width: 91% !important;
}

.h91 {
  height: 91% !important;
}

.w92 {
  width: 92% !important;
}

.h92 {
  height: 92% !important;
}

.w93 {
  width: 93% !important;
}

.h93 {
  height: 93% !important;
}

.w94 {
  width: 94% !important;
}

.h94 {
  height: 94% !important;
}

.w95 {
  width: 95% !important;
}

.h95 {
  height: 95% !important;
}

.w96 {
  width: 96% !important;
}

.h96 {
  height: 96% !important;
}

.w97 {
  width: 97% !important;
}

.h97 {
  height: 97% !important;
}

.w98 {
  width: 98% !important;
}

.h98 {
  height: 98% !important;
}

.w99 {
  width: 99% !important;
}

.h99 {
  height: 99% !important;
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}