.single_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: .9rem;
  font-size: .3rem;
  font-weight: 700;
  gap: .1rem;
  user-select: none;
}

.tags {
  width: 14%;
  display: flex;
  gap: .1rem;
  color: #ccc;
  border-color: #ccc;
}