.top_select {
  width: 100%;
  height: 1.5625rem;
  padding-right: 1.2500rem;
}

.select_wrapper {
  display: flex;
  height: 100%;
  font-size: 0.8125rem;
  justify-content: space-between;
  align-items: center;
}

.select_item {
  font-family: 'Microsoft YaHei';
  position: relative;
  opacity: .9;
  transition: opacity .3s;
  user-select: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.2500rem;
    width: 0;
    height: 0.1250rem;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width .3s;
  }

  &.active,
  &:hover {
    opacity: 1;

    &::before {
      width: 50%;
    }
  }
}