@import url(./assets/iconfonts/basic/iconfont.css);
@import url(./styles/fonts.scss);
@import url(./styles/width_height.scss);

:root {
  font-size: 50px;
  font-family: SourceHanSansCN-Normal, 'Microsoft Yahei';
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

body {
  width: 100%;
  height: 100%;
  font-size: .4rem;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

a {
  text-decoration: none;
}

.text_nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hide_scrollbar {

  /* webkit */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* firefox */
  scrollbar-width: none;

  /* ie */
  -ms-overflow-style: none;
}