@import url(./assets/iconfonts/basic/iconfont.css);
@import url(./styles/fonts.scss);

:root {
  font-size: 50px;
  font-family: SourceHanSansCN-Normal, 'Microsoft Yahei';
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.text_nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}