.image_bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image_bg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 105vw auto;
  background-position: center;
}