.middle_operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: .1rem .4rem;
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: .9rem;
  height: .9rem;
}

i.iconfont {
  font-size: .36rem;
  color: #fff;
}