.middle_operation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0.3125rem 1.2500rem;
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3750rem;
  height: 2.8125rem;
  cursor: pointer;
  transition: opacity .3s;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

i.iconfont {
  font-size: 1.1250rem;
  color: #fff;
}