.left_info {
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color .1s, transform .1s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.98);
  }
}

.left_img {
  width: 5.9375rem;
  height: 5.9375rem;

  .inner_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.right_song_info {
  width: calc(100% - 5.9375rem);
  padding-left: 0.9375rem;


  .song_name {
    font-family: "Microsoft YaHei";
    font-size: 1.3125rem;
  }

  .song_singer {
    font-size: 0.9375rem;
    font-weight: 700;
  }
}